<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Librerias de css en bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous" />

    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous">
    </script>

    <script src="https://kit.fontawesome.com/f138f2a48c.js" crossorigin="anonymous"></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Icono de la página -->
    <link rel="shorcut icon" href="https://cdn-icons-png.flaticon.com/512/1598/1598196.png" />
    <title>Contactar Proveedores</title>

</head>

<body>
    <!-- Cabecera - Creación del contenedor Navbar o barra de navegación -->
    <div class="contenedorNav">
        <nav class="navbar navbar-expand-lg" style="background-color:  #a54bc0;;">
            <div class="container-fluid">
                <h5><a class="navbar-brand" href="/">
                        <img src="https://cdn-icons-png.flaticon.com/512/3227/3227831.png" width="75" height="75" alt=""
                            width="30" height="24" class="d-inline-block align-text-right">
                        AGRO Comercialízate
                    </a></h5>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <h5><a class="nav-link" aria-current="page" href="/servicios">Servicios</a></h5>
                        </li>

                        <li class="nav-item">
                            <h5><a class="nav-link" aria-current="page" href="/temas">Temática de redes Sociales</a>
                            </h5>
                        </li>

                        <li class="nav-item">
                            <h5><a class="nav-link" aria-current="page" href="/anuncios">Anuncios Publicitarios</a></h5>
                        </li>

                        <li class="nav-item">
                            <h5><a class="nav-link active" aria-current="page" href="/contProv">Contactar Proveedor</a>
                        </li>
                    </ul>
                </div>
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <a href="/registro" class="btn btn-outline-dark me-md-2">Registrarse</a>
                    <a href="/login" class="btn btn-outline-dark ">Ingresar</a>
                </div>
            </div>
        </nav>
    </div>

    <!--Componentes para el login-->
    <div class="container text-center my-4">
        <div class="row">
            <!--Columna para la imagen-->
            <div class="col fondo d-none d-lg-block col-md-5 col-lg-5 col-xl-6"
                style="background-image: url(https://st.depositphotos.com/10372250/57305/i/600/depositphotos_573055580-stock-photo-woman-hand-holding-mobile-phone.jpg);">
            </div>
            <!--Columna para el login-->
            <div class="col">
                <form method="post" action="{{url_for('enviar')}}">
                    <img class="mb-2" src="https://cdn-icons-png.flaticon.com/128/4237/4237733.png" alt="" width="60"
                        height="55">
                    <h3 class="h3 mb-2 fw-normal">Contactar Proveedores</h3>

                    <div class="form-floating my-1">
                        <input type="text" class="form-control" id="datosCli" placeholder="" name="nombre_empresa">
                        <label for="datosCli">Nombre de Empresa</label>
                    </div>
                    <div class="form-floating my-1">
                        <input type="email" class="form-control" id="datosCli" placeholder="" name="correoElect">
                        <label for="datosCli">Correo Electrónico</label>
                    </div>
                    <div class="form-floating my-1">
                        <textarea class="form-control" id="datosCli" rows="3" placeholder=" " name="mensaje"></textarea>
                        <label for="datosCli">Mensaje</label>
                    </div>
                    <div class="form-floating my-1">
                        <!--Botón inicio de sesión-->
                        <button class="w-100 btn btn-lg" style="background-color: #c980df;"
                            type="submit">Enviar</button></div>
                </form>
            </div>
        </div>
    </div>
     <!--Creación del Blockquote-->
     <blockquote style="background-color:white;">
        <center class=" p-5 text-white">
            <h3>          </h3>
        </center>
    </blockquote>
    <!--Componentes para la lista de datos-->
    <section class="lista_datos">
        <!--controlador de la tabla de datos-->
        <table class="table">
            <thead class="table" style="background-color: #c980df;">
                <tr>
                    <!--Ingresamos las variables-->
                    <th scope="col">Nombre de la Empresa</th>
                    <th scope="col">Correo Electrónico</th>
                    <th scope="col">Mensaje</th>
                    <th scope="col">Eliminar</th>
                </tr>
            </thead>
            <tbody>
                <!--Accedemos a la lista con un for-->
                {% for listaDatos in listaUsuario %}
                <form action="{{url_for('borrar')}}" method="post" class="card-body">
                    <tr>
                        <!--Agrega nombre empresa-->
                        <th>{{listaDatos.nombre_empresa}}</th>
                        <!--Agregar correo-->
                        <th>{{listaDatos.correoElect }}</th>
                        <!--Agregar el mensaje-->
                        <th>{{listaDatos.mensaje}}</th>

                        <th><button type="submit" class="btn boton_eliminar"
                                style="background-color: #c980df;">X</button></th>
                    </tr>
                </form>
                {% endfor %}
            </tbody>
        </table>
    </section>
    <!-- Componentes del navegador final para la información de la empresa-->
    <nav class="nav navbar-expand-lg p-3" style="background-color: #c980df;">
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
            <h6 class="text-uppercase mb-4 font-weight-bold">Nosotros</h6>
            <p><a class="text-black" href="/quienes">¿Quiénes somos?</a></p>
            <p><a class="text-black" href="/politica">Política de privacidad</a></p>
            <p><a class="text-black" href="/contacto">Contacto</a></p>
            </ul>
        </div>

        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
            <h6 class="text-uppercase mb-4 font-weight-bold">Contacto</h6>
            <p><i class="fas fa-home mr-3"></i> Sto.Dgo, Vía Quevedo km 24, EC</p>
            <p><i class="fas fa-envelope mr-3"></i> orgarces@espe.edu.ec</p>
            <p><i class="fas fa-phone mr-3"></i> + 593 99 396 5108</p>
        </div>

        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
            <h6 class="text-uppercase mb-4 font-weight-bold">Síguenos</h6>

            <!-- Facebook -->
            <a class="btn btn-primary btn-floating m-1" style="background-color: #3b5998"
                href="https://www.facebook.com/Valerachel0218" role="button"><i class="fab fa-facebook-f"></i></a>

            <!-- Twitter -->
            <a class="btn btn-primary btn-floating m-1" style="background-color: #55acee"
                href="https://www.twitter.com/" role="button"><i class="fab fa-twitter"></i></a>

            <!-- Google -->
            <a class="btn btn-primary btn-floating m-1" style="background-color: #dd4b39"
                href="https://www.youtube.com/" role="button"><i class="fab fa-youtube"></i></a>

            <!-- Instagram -->
            <a class="btn btn-primary btn-floating m-1" style="background-color: #ac2bac"
                href="https://www.instagram.com/" role="button"><i class="fab fa-instagram"></i></a>
        </div>
        </div>


    </nav>
    <!--Footer-->
    <footer class="footer p-2" style="background-color: #a54bc0;">
        <div class="container-footer align-text-center">
            <center>
                <p>© 2022 Universidad de las Fuerzas Armadas Espe.</p>
            </center>
        </div>
    </footer>



    <!-- JavaScript Bundle with Popper -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous">
    </script>

</body>

</html>

<style>
    ul {
        list-style-type: none;
    }

    .fondo {
        width: 595px;
        height: 337px;
    }
</style>
<!-- <img src="https://cdn-icons.flaticon.com/png/512/3967/premium/3967911.png?token=exp=1654435830~hmac=29f16a8cb28d94254d56b76e0b135451"
                    width="75px" height="75px" class="d-inline-block align-top" alt="Logo">-->