<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous" />

    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous">
    </script>

    <script src="https://kit.fontawesome.com/f138f2a48c.js" crossorigin="anonymous"></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Icono de la página -->
    <link rel="shorcut icon" href="https://cdn-icons-png.flaticon.com/512/1598/1598196.png" />
    <title>Agro Comercialízate</title>

</head>

<body>

    <!-- Cabecera - Creación del contenedor Navbar o barra de navegación -->
    <div class="contenedorNav">
        <nav class="navbar navbar-expand-lg" style="background-color: black;">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">
                    <img src="https://cdn-icons-png.flaticon.com/512/3227/3227831.png" width="65" height="65" alt=""
                        class="d-inline-block align-text-right">
                </a>
                <h5 class="text-white align-text-right"> AGRO Comercialízate</h5>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <h5><a class="nav-link active text-white" aria-current="page" href="/">Inicio</a></h5>
                        </li>
                        <!--Agregamos la lista desplegable para los servicios-->
                        <h5>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-white" id="navbarDropdownMenuLink" role="button"
                                    data-toggle="dropdown" aria-expanded="false">
                                    Servicios a Ofrecer
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <li><a class="dropdown-item" href="/servicios">Servicios</a></li>
                                    <li><a class="dropdown-item" href="/temas">Temática de redes Sociales</a></li>
                                    <li><a class="dropdown-item" href="/anuncios">Anuncios Publicitarios</a></li>
                                    <li><a class="dropdown-item" href="/contProv">Contactar Proveedor</a></li>
                                </ul>
                            </li>
                        </h5>
                        <li class="nav-item">
                            <h5><a class="nav-link text-white" aria-current="page" href="/acerca">Acerca de Nosotros</a>
                            </h5>
                        </li>
                    </ul>
                </div>
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <a href="/registro" class="btn btn-outline-primary me-md-2">Registrarse</a>
                    <a href="/login" class="btn btn-outline-primary ">Ingresar</a>
                </div>
            </div>
        </nav>
    </div>

    <!-- Componentes del carrusel de imágenes -->
    <div class="container-fluid">
        <div id="carouselControlador" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item">
                    <img class="d-block w-100"
                        src="https://cervecerosdemexico.com/wp-content/uploads/2021/04/Por-que-Agroindustria-Cervecera-Mexicana.jpg"
                        width="1390" height="480" alt="First slide">
                </div>
                <div class="carousel-item active">
                    <img class="d-block w-100"
                        src=" https://cervecerosdemexico.com/wp-content/uploads/2021/04/Por-que-Agroindustria-Cervecera-Mexicana.jpg"
                        width="1390" height="480" alt="Second slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100"
                        src="https://www.esan.edu.pe/images/blog/2017/08/15/1500x844-proveedores.jpg" width="1390"
                        height="480" alt="Third slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100"
                        src="https://delaossa.co/wp-content/uploads/tendencias-en-publicidad-digital.jpg" width="1390"
                        height="480" alt="Fourth slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100"
                        src=" https://www.emprendiendohistorias.com/wp-content/uploads/2020/03/estrategias-de-ventas-efectivas.jpg"
                        width="1390" height="480" alt="Fifth slide">
                </div>
            </div>
            <!--Controladores para las imagenes del carousel-->
            <a class="carousel-control-prev" href="#carouselControlador" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Anterior</span>
            </a>
            <a class="carousel-control-next" href="#carouselControlador" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Siguiente</span>
            </a>
        </div>
    </div>

    <!--Creación del Blockquote-->
    <blockquote style="background-color:black;">
        <center class=" p-3 text-white">
                <h3>Comercialízate con nosostros</h3>
        </center>
    </blockquote>
    <!--Componentes de las cards-->
    <div class="card-group">
        <div class="card">
            <img src="https://portalcentrooeste.com.br/wp-content/uploads/2018/02/agropecuaria-600x330.png"
                height="330px" class="card-img-top" alt="comercio">
            <div class="card-body">
                <h5 class="card-title">De a Conocer sus Productos</h5>
                <p class="card-text">Si tiene números rojos en sus ingresos o eres emprendedor, no hay mejor oportunidad
                    que esta, de a conocer los productos de su negocio aquí. Ahora!!.</p>
                <p class="card-text"><small class="text-muted"> </small></p>
            </div>
        </div>
        <div class="card">
            <img src=" https://blog.intradebook.com/wp-content/uploads/2018/06/international-trade-definitions-1.png"
                height="330px" class="card-img-top" alt="ingreso">
            <div class="card-body">
                <h5 class="card-title">LLegue a más Lugares</h5>
                <p class="card-text">Mientras más personas conozcan de sus productos, a más lugares llegarán, dando la
                    oprtunidad de volverse una empresa que exporte su producto internacionalmente.</p>
                <p class="card-text"><small class="text-muted"> </small></p>
            </div>
        </div>
        <div class="card">
            <img src="https://www.sistemaimpulsa.com/blog/wp-content/uploads/2019/02/aumentarlasventascrecer-es-63.jpg"
                height="330px" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Incremente sus Ingresos al Máximo</h5>
                <p class="card-text">Incremente los ingresos de us empresa al llegar a más lugares exportando sus
                    productos, su bolsillo estará feliz.</p>
                <p class="card-text"><small class="text-muted"> </small></p>
            </div>
        </div>
    </div>


    <!-- Componentes del navegador final para la información de la empresa-->
    <nav class="nav navbar-expand-lg p-3" style="background-color: gainsboro ;">
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
            <h6 class="text-uppercase mb-4 font-weight-bold">Nosotros</h6>
            <p><a class="text-black" href="/quienes">¿Quiénes somos?</a></p>
            <p><a class="text-black" href="/politica">Política de privacidad</a></p>
            <p><a class="text-black" href="/contacto">Contacto</a></p>
            </ul>
        </div>

        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
            <h6 class="text-uppercase mb-4 font-weight-bold">Contacto</h6>
            <p><i class="fas fa-home mr-3"></i> Sto.Dgo, Vía Quevedo km 24, EC</p>
            <p><i class="fas fa-envelope mr-3"></i> orgarces@espe.edu.ec</p>
            <p><i class="fas fa-phone mr-3"></i> + 593 99 396 5108</p>
        </div>

        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
            <h6 class="text-uppercase mb-4 font-weight-bold">Síguenos</h6>

            <!-- Facebook -->
            <a class="btn btn-primary btn-floating m-1" style="background-color: #3b5998"
                href="https://www.facebook.com/Valerachel0218" role="button"><i class="fab fa-facebook-f"></i></a>

            <!-- Twitter -->
            <a class="btn btn-primary btn-floating m-1" style="background-color: #55acee"
                href="https://www.twitter.com/" role="button"><i class="fab fa-twitter"></i></a>

            <!-- Google -->
            <a class="btn btn-primary btn-floating m-1" style="background-color: #dd4b39"
                href="https://www.youtube.com/" role="button"><i class="fab fa-youtube"></i></a>

            <!-- Instagram -->
            <a class="btn btn-primary btn-floating m-1" style="background-color: #ac2bac"
                href="https://www.instagram.com/" role="button"><i class="fab fa-instagram"></i></a>
        </div>
        </div>


    </nav>
    <!--Footer-->
    <footer class="footer p-2" style="background-color: black;">
        <div class="container-footer text-white">
            <center>
                <p>© 2022 Universidad de las Fuerzas Armadas ESPE</p>
            </center>
        </div>
    </footer>



    <!-- JavaScript Bundle with Popper -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous">
    </script>

</body>

</html>

<style>

    ul {
        list-style-type: none;

    }
</style>
<!-- <img src="https://cdn-icons.flaticon.com/png/512/3967/premium/3967911.png?token=exp=1654435830~hmac=29f16a8cb28d94254d56b76e0b135451"
                    width="75px" height="75px" class="d-inline-block align-top" alt="Logo">-->